name: Run Tests
on: [push, pull_request]
jobs:
  runtests:
    name: runtests
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest

      - name: Install dependencies
        run: rm -rf node_modules && yarn install --frozen-lockfile

      - name: Build project
        run: yarn build

      - name: Run tets
        run: yarn test

      - name: Run Biome
        run: biome ci .
